.features__inner {
  display: flex;
  flex-direction: column;
  row-gap: 160px;
}

.feature__info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.feature__info-title {
  color: var(--black, #303031);
  font-family: "Bely Display W00 Regular";
  font-size: 48px;
  line-height: 64px; /* 133.333% */
}


